@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-style: normal;
}
